.custom-rounded {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0.375rem ;
    border-bottom-left-radius: 0.375rem ;
    border-top-left-radius: 0rem;
}

@media (min-width: 768px) {
    .custom-rounded {
        border-bottom-right-radius: 0.375rem ;
        /* md:rounded-b-xl */
        border-bottom-left-radius: 0rem;
        /* md:rounded-br-none */
        border-top-left-radius: 0rem;
        /* md:rounded-tr-none */
        border-top-right-radius: 0.375rem ;

    }
}